.App {
  margin: 3%;
  height: 100vh;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rank {
  margin: 25px 10px;
}

.ant-table-thead > .ant-table-cell {
  width: 7% !important;
}
