.App {
  margin: 3%;
  height: 85vh;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.manage {
  margin-top: 2%
}

.next-button {
  border-color: #1890ff !important;
  color:  #1890ff !important;
}

.manual-button {
  margin-top: 2%;
  margin-bottom: 2%;
}

.ant-table-container table > thead > tr:first-child th:first-child {
  width: 175px;
}

.white-text {
  color: 'white';
}
